header {
    height: 100px;
    padding-top: 25px;
}

input {
    height: 50px;
}

#weekday-item {
    text-align: center;
    height: 250px;
    width: 175px;
    padding: 10px;
    border-radius: 15px;
}