header {
    margin: 30px 30px 0 30px;
    height: 100px;
    padding-top: 25px;
    border-radius: 15px;
}

input {
    height: 50px;
}

.current-city {
    border-radius: 15px;
}

#forecast-item {
    /* background-color: lightgrey; */
    text-align: center;
    height: 225px;
    width: 175px;
    padding: 10px;
    border-radius: 15px;
}